# Grav Specific
accounts/*
!accounts/.*
data/*
!data/.*
plugins/*
!plugins/.*
security.yaml
versions.yaml

# remove if you will make the theme part of your project
themes/*
!themes/.*


# OS Generated
.DS_Store*
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp

# phpstorm
.idea/*
